BasedOnStyle: Microsoft
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Allman
ColumnLimit: 120
SortIncludes: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
InsertBraces: true
IndentCaseLabels: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
EmptyLineBeforeAccessModifier: Always
BreakTemplateDeclarations: Yes
StatementMacros:
  - UCLASS
  - USTRUCT
  - UINTERFACE
  - UENUM
  - UFUNCTION
  - UPROPERTY
  - GENERATED_BODY
  - GENERATED_UCLASS_BODY
